<div class="d-flex flex-column align-items-center">
    <h2>{{this.username}}'s Profile</h2>
    <div class="card-body profile-card">
        <img src="https://vignette.wikia.nocookie.net/fr.starwars/images/3/32/Dark_Vador.jpg" alt="{{this.username}}">
        <h3>{{this.username}}</h3>
        {{#if this.isModerator}}
        <p>Moderator 😎</p>
        {{/if}}
    </div>
    <div class="profile-main-container">
        <div class="d-flex align-items-center created-chars">
            <h2>My created character:</h2>
            {{#if this.charactersFound}}
            <ul>
                {{#each this.charactersFound}}
                <div class="card-body each-added-character">
                    <a href="/characters/{{this._id}}/details">
                        <h5>{{capitalize this.name}}</h5>
                        <img src="{{this.image}}" alt="{{this.name}}">
                    </a>
                </div>
                
                {{/each}}
            </ul>
            {{else}} <p>You didn't create any characters yet</p>
            {{/if}}


        </div>

        <div class="fav-char-container card-body d-flex flex-column align-items-center">
        <h2>Favorite Character: </h2>
        {{#if this.favoriteCharacter}}
        <div class="fav-char d-flex flex-column align-items-center card-body">
            <a class="fav-char-link" href="/characters/{{this.favoriteCharacter._id}}/details">
                <img src="{{this.favoriteCharacter.image}}" alt="img">
                <h4>{{this.favoriteCharacter.name}}</h4>
            </a>
        </div>
        {{/if}}
    </div>
    </div>
    

</div>