<div class="profile-main-container">
    <div class="profile-card-and-delete-btn">
        <div class="profile-card">
            <img src="https://vignette.wikia.nocookie.net/fr.starwars/images/3/32/Dark_Vador.jpg" alt="{{this.username}}">
            {{#if this.isRoleModerator}}
            <p>Moderator 😎</p>
            {{else if this.isRoleAdmin}}
            <p>Admin 🤴</p>
            {{else}}
            <p>Rookie 🤖</p>
            {{/if}}
        </div>
        {{#if this.isAdmin}}
            {{#if this.isRoleUser}}
            <div class="">
                <form action="/admin/{{this.singleUser._id}}/delete-user" method="post">
                    <button class="btn btn-danger">Delete user</button>
                </form>
            </div>
            {{/if}}
        {{/if}}
    </div>
    <h2>{{this.singleUser.username}}'s Profile</h2>
    
            {{#unless this.isRoleAdmin}}
            <div class="fav-char">
            <h3>Favorite Character: </h3>
            {{#if this.singleUser.favoriteCharacter}}
                <a class="fav-char-link" href="/characters/{{this.singleUser.favoriteCharacter._id}}/details">
                    <img src="{{this.singleUser.favoriteCharacter.image}}" alt="img">
                    <h4>{{capitalize this.singleUser.favoriteCharacter.name}}</h4>
                </a>
            {{/if}}
            {{/unless}}
            
        </div>
</div>
    <div class="profile-container">
        <div class="created-chars">
            {{#if this.isRoleModerator}}
            <h4>My created characters:</h4>
            {{#if this.charactersFound}}
            <div class="added-character-list">
                {{#each this.charactersFound}}
                    <a href="/characters/{{this._id}}/details">
                        <h5>{{capitalize this.name}}</h5>
                        <img src="{{this.image}}" alt="{{this.name}}"/>
                    </a>
                {{/each}}
            </div>
            {{else}}
                <p>You didn't create any characters yet</p>
            {{/if}}

            {{/if}}
        </div>

        
        
    </div>
