<div class="all-homeworlds-main-container">
  <h2>List of Characters from {{ capitalize this.oneHomeworld}}</h2>
  <div class="all-homeworlds-cards">
    {{#each this.allCharByHomeworld}}
      <div class="each-homeworld">
        <a href="/characters/{{this._id}}/details">
          <h5>{{capitalize this.name}}</h5>
          <img src="{{this.image}}" alt="{{this.name}}" />
        </a>
      </div>
    {{/each}}
  </div>
  <a href="/categories/homeworlds">
    <button class="btn btn-warning">Back</button>
  </a>
</div>