<div class="all-species-main-container">
  <h2>List of {{ capitalize this.oneSpecies}}s</h2>
  <div class="all-species-cards">
    {{#each this.allCharBySpecies}}
        <div class="each-species">
          <a href="/characters/{{this._id}}/details">
            <h5>{{capitalize this.name}}</h5>
            <img src="{{this.image}}" alt="{{this.name}}" />
          </a>
        </div>
    {{/each}}
  </div>
  <a href="/categories/species">
    <button class="btn btn-warning">Back</button>
  </a>
</div>