<div class="d-flex flex-column align-items-center">
    <div class="card-body char-card">
        <div>
            <img src="{{this.image}}" alt="{{this.name}}" />
        </div>
        <div>
            <h3>{{this.name}}</h3>
            <p>Species: {{this.species}}</p>
            <p>Homeworld: {{this.homeworld}}</p>
            {{#if this.age}}
                <p>Age: {{this.age}}</p>
            {{/if}}
        </div>

    </div>
    <div>
        <form action="/private/profile/" >
            <button class="btn btn-info">Add to favorites</button>
        </form>
    </div>
</div>